if SHIELD_SPLITIX_MK1_LEFT || SHIELD_SPLITIX_MK1_RIGHT

config ZMK_SPLIT
    default y

config ZMK_DISPLAY
    default y

config ZMK_RGB_MATRIX
    default y

config ZMK_RGB_UNDERGLOW
    default y

config EC11
    default y

config EC11_TRIGGER_GLOBAL_THREAD
    default y

endif

config ZMK_SPLIT_ROLE_CENTRAL
    default y if SHIELD_SPLITIX_MK1_LEFT

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y if SHIELD_SPLITIX_MK1_RIGHT