#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp GRAVE &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &none    &none
                &kp TAB  &kp Q    &kp W    &kp E    &kp R    &kp T    &none    &none    &none
                &kp CAPS &kp A    &kp S    &kp D    &kp F    &kp G    &none    &none    &none
                &kp LSHFT &kp Z   &kp X    &kp C    &kp V    &kp B    &none    &none    &none
                &tog 1   &tog 2  &kp LGUI  &kp LALT &kp SPACE &none    &none    &none    &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
                &kp LS(TILDE) &kp LS(EXCL) &kp LS(AT) &kp LS(POUND) &kp LS(DLLR) &kp LS(PRCNT) &kp LS(CARET) &none    &none
                &kp TAB  &kp Q    &kp W    &kp E    &kp R    &kp T    &none    &none    &none
                &kp CAPS &kp A    &kp S    &kp D    &kp F    &kp G    &none    &none    &none
                &kp LSHFT &kp Z   &kp X    &kp C    &kp V    &kp B    &none    &none    &none
                &tog 1   &tog 2  &kp LGUI  &kp LALT &kp SPACE &none    &none    &none    &none
            >;
        };

        layer_2 {
            bindings = <
                &kp ESC   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &none    &none
                &trans   &trans   &trans   &trans   &trans   &trans   &none    &none    &none
                &trans   &trans   &trans   &trans   &trans   &trans   &none    &none    &none
                &trans   &trans   &trans   &trans   &trans   &trans   &none    &none    &none
                &trans   &to 0   &trans   &trans   &trans   &none    &none    &none    &none
            >;
        };
    };
};
