#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp TAB   &kp Q
                &none     &trans   &kp W    &kp E    &kp R    &kp T    &none    &none     &none
                &none     &trans   &kp S    &kp D    &kp F    &kp G    &none    &none     &none
                &none     &trans   &kp X    &kp C    &kp V    &kp B    &none    &none     &none
                &none     &none    &trans   &kp LALT &kp SPACE &none    &none    &none     &none
            >;
        };

        layer_1 {
            bindings = <
                &kp GRAVE &kp LS(EXCL) &kp LS(AT)   &kp LS(POUND) &kp LS(DLLR) &kp LS(PRCNT) &kp LS(CARET) &kp TAB   &kp LS(Q)
                &none     &trans       &kp LS(W)    &kp LS(E)     &kp LS(R)    &kp LS(T)    &none    &none     &none
                &none     &trans       &kp LS(S)    &kp LS(D)     &kp LS(F)    &kp LS(G)    &none    &none     &none
                &none     &trans       &kp LS(X)    &kp LS(C)     &kp LS(V)    &kp LS(B)    &none    &none     &none
                &none     &none       &trans       &kp LALT      &kp SPACE    &none        &none    &none     &none
            >;
        };

        layer_2 {
            bindings = <
                &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &trans   &trans   &trans
                &none    &trans   &trans   &trans   &trans   &trans   &none    &none    &none
                &none    &trans   &trans   &trans   &trans   &trans   &none    &none    &none
                &none    &trans   &trans   &trans   &trans   &trans   &none    &none    &none
                &none    &none    &trans   &trans   &trans   &none    &none    &none    &none
            >;
        };
    };
};
