
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "M1";
        };

        m2: m2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "M2";
        };

        m3: m3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "M3";
        };

        m4: m4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "M4";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp TAB  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp CAPS  &kp A  &kp S  &kp D  &kp F  &kp G  &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp LCTRL  &tog 1  &kp LGUI  &kp LALT  &kp SPACE  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS  &kp EQUAL  &kp BSPC  &kp BSPC  &m1  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT  &kp BSLH  &m2  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp SQT  &kp RET  &m3  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT  &kp UP  &m4  &kp SPACE  &kp RALT  &kp K_MENU  &kp RCTRL  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
			
            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
				
        };

        layer_1 {
            bindings = <
&kp LS(TILDE)  &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &kp TAB  &kp LS(Q)  &kp LS(W)  &kp LS(E)  &kp LS(R)  &kp LS(T)  &kp CAPS  &kp LS(A)  &kp LS(S)  &kp LS(D)  &kp LS(F)  &kp LS(G)  &kp LSHFT  &kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(V)  &kp LS(B)  &kp LCTRL  &tog 2  &kp LGUI  &kp LALT  &kp SPACE  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(UNDER)  &kp LS(PLUS)  &trans  &kp BSPC  &m1  &kp LS(Y)  &kp LS(U)  &kp LS(I)  &kp LS(O)  &kp LS(P)  &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PIPE)  &m2  &kp LS(H)  &kp LS(J)  &kp LS(K)  &kp LS(L)  &kp LS(COLON)  &kp LS(DQT)  &kp RET  &m3  &kp LS(N)  &kp LS(M)  &kp LS(LT)  &kp LS(GT)  &kp LS(QMARK)  &kp RSHFT  &kp UP  &m4  &kp SPACE  &kp RALT  &kp K_MENU  &kp RCTRL  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        layer_2 {
            bindings = <
&kp ESC  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &to 0  &trans  &trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &kp HOME  &trans  &trans  &trans  &trans  &trans  &trans  &kp PG_UP  &kp PG_DN  &kp END  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};